@* Yes I am a comment in razor page :-) *@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- 
Replace the default contents of the Views:
    @{
    
    }

the following: 
-->

@* 
    Below is the razor code (C# code) 
    A .cshtml file that has HTML markup with C# code using Razor syntax
    Link: https://learn.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-7.0&tabs=visual-studio


    The information can be changed from the layout 
*@


@{
    /*
    Settting the "Title" property of the "ViewData" dictionary to "Movie List":
    */
    ViewData["Title"] = "Movie List";
}

@* below is our normal HMLT contents: *@
<h2>Home Page (Index Page)</h2>

<p>Hello from our View Template!</p>